*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    background-color: black;
}

.formLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.formLogin img{
    margin-left: 50px;
}

.login img{
    width: 300px;
}

.login label{
    display: block;
}

.login input{
    background-color: rgb(49, 49, 49);
    width: 25rem;
    height: 2.75rem;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    margin: 5px 5px;
}

.btnSubmit{
    background-color: rgb(39, 151, 39);
    display: block;
    margin: auto;
    width: 10rem;
    height: 3.25rem;
    font-size: x-large;
    margin-top: 5rem;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
}